*.DS_Store
[Tt]humbs.db

*.sln
*.suo
*.user

[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Pp]ackages/

temp_AssemblyInfo.cs

/Legacy/Bch/BchUI/Properties/AssemblyInfo.cs
/Legacy/Cms/Cms.Core.ClearingHouse/Properties/AssemblyInfo.cs
/Legacy/Cms/Cms.UI/Properties/AssemblyInfo.cs

/Km.Web.Server/web.BCH.config
/Km.Web.Server/web.API.config
/Km.Web.Server/web.config
Km.Web.Server/switch-to-api.cmd
Km.Web.Server/switch-to-bch.cmd
